/*----------------- MODAL CSS -----------------------*/
body.active-modal {
    overflow-y: hidden;
  }
.modal-refus, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

}
.overlay {
    background: rgba(224, 224, 224,0.9);
}
.modal-content h4{
    text-align: center;
}
.modal-content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    width: 700px;
    height: 150px;
    background-color: #fff !important;
    padding: 10px 20px;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin: 17px;
}